In [1]:
from src.create_data_list import create_data_list
import pandas as pd

urls = create_data_list("sources.yml")

In [26]:
col_types = {
    "ANMOIS": "str",  
    "APT": "str",     
    "APT_NOM": "str", 
    "APT_ZON": "str",
}

file2018 = pd.read_csv(urls["airports"][2018], sep=";",dtype=col_types)

file2018

,ANMOIS,APT,APT_NOM,APT_ZON,APT_PEQ,APT_PAX_dep,APT_PAX_arr,APT_PAX_tr,APT_FRP_dep,APT_FRP_arr,APT_NMVT_mxt,APT_NMVT_cgo
0,201801,FMCZ,MAYOTTE-MARCEL HENRY,OM,35209,13108,18977,1202,"21,8","170,4",546,1
1,201801,FMEE,LA REUNION-ROLAND GARROS,OM,269383,112430,127167,4768,743,"1758,7",1149,16
2,201801,FMEP,ST-PIERRE-PIERREFONDS,OM,13219,6034,7181,0,0,"0,4",208,0
3,201801,LFAQ,ALBERT-BRAY,MT,2108,119,124,0,108,"78,5",32,15
4,201801,LFBA,AGEN-LA GARENNE,MT,2513,1335,1178,0,0,0,131,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1057,201812,TFFG,ST-MARTIN-GRAND-CASE,OM,16778,8596,7789,7,"19,2","19,4",577,63
1058,201812,TFFJ,ST-BARTHELEMY,OM,17435,8179,8875,0,"7,9","30,2",3069,113
1059,201812,TFFR,POINTE-A-PITRE-LE RAIZET,OM,242057,107149,115766,6529,"275,2","986,1",2509,50
1060,201812,ZZMT,AUTRES APT (MT),MT,5184,2302,2677,13,"14,4","4,8",1606,16
1061,201812,ZZOM,AUTRES APT (OM),OM,14599,4332,5632,4114,3,"48,4",1136,19

In [25]:
def extract_month_year(row):
    row['an'] = row['ANMOIS'][:4]
    row['mois'] = str(int(row['ANMOIS'][4:]))
    return row['an'], row['mois']

file2018['an'], file2018['mois']=file2018.apply(extract_month_year, axis=1, result_type='expand')[0] ,file2018.apply(extract_month_year, axis=1, result_type='expand')[1]
file2018

,ANMOIS,APT,APT_NOM,APT_ZON,APT_PEQ,APT_PAX_dep,APT_PAX_arr,APT_PAX_tr,APT_FRP_dep,APT_FRP_arr,APT_NMVT_mxt,APT_NMVT_cgo,an,mois
0,201801,FMCZ,MAYOTTE-MARCEL HENRY,OM,35209,13108,18977,1202,"21,8","170,4",546,1,2018,1
1,201801,FMEE,LA REUNION-ROLAND GARROS,OM,269383,112430,127167,4768,743,"1758,7",1149,16,2018,1
2,201801,FMEP,ST-PIERRE-PIERREFONDS,OM,13219,6034,7181,0,0,"0,4",208,0,2018,1
3,201801,LFAQ,ALBERT-BRAY,MT,2108,119,124,0,108,"78,5",32,15,2018,1
4,201801,LFBA,AGEN-LA GARENNE,MT,2513,1335,1178,0,0,0,131,0,2018,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1057,201812,TFFG,ST-MARTIN-GRAND-CASE,OM,16778,8596,7789,7,"19,2","19,4",577,63,2018,12
1058,201812,TFFJ,ST-BARTHELEMY,OM,17435,8179,8875,0,"7,9","30,2",3069,113,2018,12
1059,201812,TFFR,POINTE-A-PITRE-LE RAIZET,OM,242057,107149,115766,6529,"275,2","986,1",2509,50,2018,12
1060,201812,ZZMT,AUTRES APT (MT),MT,5184,2302,2677,13,"14,4","4,8",1606,16,2018,12
1061,201812,ZZOM,AUTRES APT (OM),OM,14599,4332,5632,4114,3,"48,4",1136,19,2018,12

In [29]:
def clean_dataframe(df):
    df['an'], df['mois']=df.apply(extract_month_year, axis=1, result_type='expand')[0] ,df.apply(extract_month_year, axis=1, result_type='expand')[1]
    df.columns = map(str.lower, df.columns)
    return df

clean_dataframe(file2018)

,anmois,apt,apt_nom,apt_zon,apt_peq,apt_pax_dep,apt_pax_arr,apt_pax_tr,apt_frp_dep,apt_frp_arr,apt_nmvt_mxt,apt_nmvt_cgo,an,mois
0,201801,FMCZ,MAYOTTE-MARCEL HENRY,OM,35209,13108,18977,1202,"21,8","170,4",546,1,2018,1
1,201801,FMEE,LA REUNION-ROLAND GARROS,OM,269383,112430,127167,4768,743,"1758,7",1149,16,2018,1
2,201801,FMEP,ST-PIERRE-PIERREFONDS,OM,13219,6034,7181,0,0,"0,4",208,0,2018,1
3,201801,LFAQ,ALBERT-BRAY,MT,2108,119,124,0,108,"78,5",32,15,2018,1
4,201801,LFBA,AGEN-LA GARENNE,MT,2513,1335,1178,0,0,0,131,0,2018,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1057,201812,TFFG,ST-MARTIN-GRAND-CASE,OM,16778,8596,7789,7,"19,2","19,4",577,63,2018,12
1058,201812,TFFJ,ST-BARTHELEMY,OM,17435,8179,8875,0,"7,9","30,2",3069,113,2018,12
1059,201812,TFFR,POINTE-A-PITRE-LE RAIZET,OM,242057,107149,115766,6529,"275,2","986,1",2509,50,2018,12
1060,201812,ZZMT,AUTRES APT (MT),MT,5184,2302,2677,13,"14,4","4,8",1606,16,2018,12
1061,201812,ZZOM,AUTRES APT (OM),OM,14599,4332,5632,4114,3,"48,4",1136,19,2018,12