In [2]:
from src.create_data_list import create_data_list
import pandas as pd
from src.import_data import *

urls = create_data_list("sources.yml")

import_aiport_data(urls["airports"].values())
import_compagnies_data(urls["compagnies"].values())
import_liaisons_data(urls["liaisons"].values())

,anmois,lsn,lsn_dep_nom,lsn_arr_nom,lsn_sct,lsn_fsc,lsn_dist,lsn_peq_loc,lsn_pax_loc,lsn_frp_loc,lsn_vol,lsn_pax_fs,lsn_frp_fs,lsn_peq_fs,lsn_drt,an,mois
0,201801,BIKF_LFPG,REYKJAVIK/KEFLAVIK,PARIS-CHARLES DE GAULLE,MC,MET_INTL,2244,17653,13336,"431,7",68,13336,"431,7",17653,68,2018,1
1,201801,BKPR_LFSB,PRISTINA,BALE-MULHOUSE,MC,MET_INTL,1198,13744,13740,"0,401",84,13740,"0,401",13744,84,2018,1
2,201801,CYUL_LFPG,MONTREAL-DORVAL,PARIS-CHARLES DE GAULLE,LC,MET_INTL,5530,42069,36539,"552,924",113,36539,"552,924",42069,113,2018,1
3,201801,CYYZ_LFPG,TORONTO-PEARSON,PARIS-CHARLES DE GAULLE,LC,MET_INTL,6026,18206,13380,"482,577",56,13380,"482,577",18206,56,2018,1
4,201801,DAAG_LFML,ALGER,MARSEILLE-PROVENCE,MC,MET_INTL,770,14784,14606,"17,775",163,14606,"17,775",14784,163,2018,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4354,202212,ZZLC_OM_INTL,AUTRES LSN (LC/OM_INTL),AUTRES LSN (LC/OM_INTL),LC,OM_INTL,5937,70288,64584,"570,242",360,71601,"633,033",77932,374,2022,12
4355,202212,ZZLC_OM_OM,AUTRES LSN (LC/OM_OM),AUTRES LSN (LC/OM_OM),LC,OM_OM,4639,3005,2561,"44,442",10,2561,"44,442",3005,10,2022,12
4356,202212,ZZMC_MET_INTL,AUTRES LSN (MC/MET_INTL),AUTRES LSN (MC/MET_INTL),MC,MET_INTL,1116,3922122,3742138,"17998,963",37187,3749662,"19795,456",3947612,37797,2022,12
4357,202212,ZZMC_OM_INTL,AUTRES LSN (MC/OM_INTL),AUTRES LSN (MC/OM_INTL),MC,OM_INTL,1494,69252,67104,"215,387",923,74059,"268,315",76737,1045,2022,12
4358,202212,ZZMC_OM_OM,AUTRES LSN (MC/OM_OM),AUTRES LSN (MC/OM_OM),MC,OM_OM,1039,28131,27147,"97,976",483,27136,"86,964",28007,913,2022,12