In [2]:
from src.create_data_list import create_data_list
import pandas as pd

urls = create_data_list("sources.yml")

In [3]:
col_types = {
    "ANMOIS": "str",  
    "APT": "str",     
    "APT_NOM": "str", 
    "APT_ZON": "str",
}

file2018 = pd.read_csv(urls["airports"][2018], sep=";",dtype=col_types)

file2018

,ANMOIS,APT,APT_NOM,APT_ZON,APT_PEQ,APT_PAX_dep,APT_PAX_arr,APT_PAX_tr,APT_FRP_dep,APT_FRP_arr,APT_NMVT_mxt,APT_NMVT_cgo
0,201801,FMCZ,MAYOTTE-MARCEL HENRY,OM,35209,13108,18977,1202,"21,8","170,4",546,1
1,201801,FMEE,LA REUNION-ROLAND GARROS,OM,269383,112430,127167,4768,743,"1758,7",1149,16
2,201801,FMEP,ST-PIERRE-PIERREFONDS,OM,13219,6034,7181,0,0,"0,4",208,0
3,201801,LFAQ,ALBERT-BRAY,MT,2108,119,124,0,108,"78,5",32,15
4,201801,LFBA,AGEN-LA GARENNE,MT,2513,1335,1178,0,0,0,131,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1057,201812,TFFG,ST-MARTIN-GRAND-CASE,OM,16778,8596,7789,7,"19,2","19,4",577,63
1058,201812,TFFJ,ST-BARTHELEMY,OM,17435,8179,8875,0,"7,9","30,2",3069,113
1059,201812,TFFR,POINTE-A-PITRE-LE RAIZET,OM,242057,107149,115766,6529,"275,2","986,1",2509,50
1060,201812,ZZMT,AUTRES APT (MT),MT,5184,2302,2677,13,"14,4","4,8",1606,16
1061,201812,ZZOM,AUTRES APT (OM),OM,14599,4332,5632,4114,3,"48,4",1136,19

In [4]:
def extract_month_year(row):
    row['an'] = row['ANMOIS'][:4]
    row['mois'] = str(int(row['ANMOIS'][4:]))
    return row['an'], row['mois']

file2018['an'], file2018['mois']=file2018.apply(extract_month_year, axis=1, result_type='expand')[0] ,file2018.apply(extract_month_year, axis=1, result_type='expand')[1]
file2018

,ANMOIS,APT,APT_NOM,APT_ZON,APT_PEQ,APT_PAX_dep,APT_PAX_arr,APT_PAX_tr,APT_FRP_dep,APT_FRP_arr,APT_NMVT_mxt,APT_NMVT_cgo,an,mois
0,201801,FMCZ,MAYOTTE-MARCEL HENRY,OM,35209,13108,18977,1202,"21,8","170,4",546,1,2018,1
1,201801,FMEE,LA REUNION-ROLAND GARROS,OM,269383,112430,127167,4768,743,"1758,7",1149,16,2018,1
2,201801,FMEP,ST-PIERRE-PIERREFONDS,OM,13219,6034,7181,0,0,"0,4",208,0,2018,1
3,201801,LFAQ,ALBERT-BRAY,MT,2108,119,124,0,108,"78,5",32,15,2018,1
4,201801,LFBA,AGEN-LA GARENNE,MT,2513,1335,1178,0,0,0,131,0,2018,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1057,201812,TFFG,ST-MARTIN-GRAND-CASE,OM,16778,8596,7789,7,"19,2","19,4",577,63,2018,12
1058,201812,TFFJ,ST-BARTHELEMY,OM,17435,8179,8875,0,"7,9","30,2",3069,113,2018,12
1059,201812,TFFR,POINTE-A-PITRE-LE RAIZET,OM,242057,107149,115766,6529,"275,2","986,1",2509,50,2018,12
1060,201812,ZZMT,AUTRES APT (MT),MT,5184,2302,2677,13,"14,4","4,8",1606,16,2018,12
1061,201812,ZZOM,AUTRES APT (OM),OM,14599,4332,5632,4114,3,"48,4",1136,19,2018,12

In [5]:
def clean_dataframe(df):
    df['an'], df['mois']=df.apply(extract_month_year, axis=1, result_type='expand')[0] ,df.apply(extract_month_year, axis=1, result_type='expand')[1]
    df.columns = map(str.lower, df.columns)
    return df

clean_dataframe(file2018)

,anmois,apt,apt_nom,apt_zon,apt_peq,apt_pax_dep,apt_pax_arr,apt_pax_tr,apt_frp_dep,apt_frp_arr,apt_nmvt_mxt,apt_nmvt_cgo,an,mois
0,201801,FMCZ,MAYOTTE-MARCEL HENRY,OM,35209,13108,18977,1202,"21,8","170,4",546,1,2018,1
1,201801,FMEE,LA REUNION-ROLAND GARROS,OM,269383,112430,127167,4768,743,"1758,7",1149,16,2018,1
2,201801,FMEP,ST-PIERRE-PIERREFONDS,OM,13219,6034,7181,0,0,"0,4",208,0,2018,1
3,201801,LFAQ,ALBERT-BRAY,MT,2108,119,124,0,108,"78,5",32,15,2018,1
4,201801,LFBA,AGEN-LA GARENNE,MT,2513,1335,1178,0,0,0,131,0,2018,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1057,201812,TFFG,ST-MARTIN-GRAND-CASE,OM,16778,8596,7789,7,"19,2","19,4",577,63,2018,12
1058,201812,TFFJ,ST-BARTHELEMY,OM,17435,8179,8875,0,"7,9","30,2",3069,113,2018,12
1059,201812,TFFR,POINTE-A-PITRE-LE RAIZET,OM,242057,107149,115766,6529,"275,2","986,1",2509,50,2018,12
1060,201812,ZZMT,AUTRES APT (MT),MT,5184,2302,2677,13,"14,4","4,8",1606,16,2018,12
1061,201812,ZZOM,AUTRES APT (OM),OM,14599,4332,5632,4114,3,"48,4",1136,19,2018,12

In [8]:
# penser à transformer le dict en list
col_types = {
    "ANMOIS": "str",  
    "APT": "str",     
    "APT_NOM": "str", 
    "APT_ZON": "str",
}

def import_aiport_data(list_files):
    list_df=[pd.read_csv(file, sep=";",dtype=col_types) for file in list_files]
    concat_df=pd.concat(list_df)
    cleaned_df = clean_dataframe(concat_df)
    return cleaned_df


import_aiport_data(urls["airports"].values())

,anmois,apt,apt_nom,apt_zon,apt_peq,apt_pax_dep,apt_pax_arr,apt_pax_tr,apt_frp_dep,apt_frp_arr,apt_nmvt_mxt,apt_nmvt_cgo,an,mois
0,201801,FMCZ,MAYOTTE-MARCEL HENRY,OM,35209,13108,18977,1202,"21,8","170,4",546,1,2018,1
1,201801,FMEE,LA REUNION-ROLAND GARROS,OM,269383,112430,127167,4768,743,"1758,7",1149,16,2018,1
2,201801,FMEP,ST-PIERRE-PIERREFONDS,OM,13219,6034,7181,0,0,"0,4",208,0,2018,1
3,201801,LFAQ,ALBERT-BRAY,MT,2108,119,124,0,108,"78,5",32,15,2018,1
4,201801,LFBA,AGEN-LA GARENNE,MT,2513,1335,1178,0,0,0,131,0,2018,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
985,202212,TFFG,ST-MARTIN-GRAND-CASE,OM,18700,8738,9563,0,"14,7","25,2",619,19,2022,12
986,202212,TFFJ,ST-BARTHELEMY,OM,22975,10809,11673,3,"7,8","41,2",4256,126,2022,12
987,202212,TFFR,POINTE-A-PITRE-LE RAIZET,OM,224367,98600,108384,5648,"151,7","1021,9",2212,92,2022,12
988,202212,ZZMT,AUTRES APT (MT),MT,4085,1908,2042,27,3,"7,8",1232,5,2022,12
989,202212,ZZOM,AUTRES APT (OM),OM,13386,3711,5008,4227,"2,7","41,3",1001,77,2022,12

In [19]:
col_types = {
  "ANMOIS" : "str",
  "CIE" : "str",
  "CIE_NOM" : "str",
  "CIE_NAT" : "str",
  "CIE_PAYS" : "str"
}

def import_data(list_files, schema):
    list_df=[pd.read_csv(file, sep=";",dtype=schema) for file in list_files]
    concat_df=pd.concat(list_df)
    cleaned_df = clean_dataframe(concat_df)
    return cleaned_df

df = import_data(urls["compagnies"].values(),col_types)

df

,anmois,cie,cie_nom,cie_nat,cie_pays,cie_pax,cie_frp,cie_peq,cie_pkt,cie_tkt,cie_peqkt,cie_vol,an,mois
0,201801,AAF,AIGLE AZUR,F,FRANCE,148588,"119,4",149782,"0,21","0,0002","0,212",1216,2018,1
1,201801,AAL,AMERICAN AIRLINES,E,ETATS-UNIS,50646,"3071,3",81359,"0,343","0,0208","0,551",272,2018,1
2,201801,AAR,ASIANA AIRLINES,E,COREE DU SUD,11945,"1030,2",22247,"0,107","0,0092","0,199",44,2018,1
3,201801,ABR,ASL AIRLINES IRELAND,E,IRLANDE,296,"1775,4",18050,0,"0,0013","0,013",559,2018,1
4,201801,ABW,AIRBRIDGE CARGO AIRLINES,E,RUSSIE (FED. DE),0,"4773,8",47738,0,"0,0126","0,126",47,2018,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1213,202212,VTI,VISTARA,E,INDE,10115,"356,3",13678,"0,066","0,0023","0,089",44,2022,12
1214,202212,WZZ,WIZZ AIR,E,HONGRIE,219414,0,219414,"0,292",0,"0,292",1260,2022,12
1215,202212,XRC,EXPRESS AIR CARGO,E,TUNISIE,0,"1079,8",10798,0,"0,0016","0,016",53,2022,12
1216,202212,ZZE,AUTRES CIE (E),E,_ZZ_E,241061,"5133,2",292393,"0,63","0,0185","0,815",12169,2022,12
1217,202212,ZZF,AUTRES CIE (F),F,_ZZ_F,39472,"51,1",39983,"0,038",0,"0,038",5111,2022,12

In [22]:
col_types = {
  "ANMOIS": "str",
  "LSN": "str",
  "LSN_DEP_NOM": "str",
  "LSN_ARR_NOM": "str",
  "LSN_SCT": "str",
  "LSN_FSC": "str"
}


def import_liaisons_data():
    col_types = {
        "ANMOIS": "str",
        "LSN": "str",
        "LSN_DEP_NOM": "str",
        "LSN_ARR_NOM": "str",
        "LSN_SCT": "str",
        "LSN_FSC": "str"
        }
    import_data(urls["liaisons"].values(),col_types)

import_data(urls["liaisons"].values(),col_types)

,anmois,lsn,lsn_dep_nom,lsn_arr_nom,lsn_sct,lsn_fsc,lsn_dist,lsn_peq_loc,lsn_pax_loc,lsn_frp_loc,lsn_vol,lsn_pax_fs,lsn_frp_fs,lsn_peq_fs,lsn_drt,an,mois
0,201801,BIKF_LFPG,REYKJAVIK/KEFLAVIK,PARIS-CHARLES DE GAULLE,MC,MET_INTL,2244,17653,13336,"431,7",68,13336,"431,7",17653,68,2018,1
1,201801,BKPR_LFSB,PRISTINA,BALE-MULHOUSE,MC,MET_INTL,1198,13744,13740,"0,401",84,13740,"0,401",13744,84,2018,1
2,201801,CYUL_LFPG,MONTREAL-DORVAL,PARIS-CHARLES DE GAULLE,LC,MET_INTL,5530,42069,36539,"552,924",113,36539,"552,924",42069,113,2018,1
3,201801,CYYZ_LFPG,TORONTO-PEARSON,PARIS-CHARLES DE GAULLE,LC,MET_INTL,6026,18206,13380,"482,577",56,13380,"482,577",18206,56,2018,1
4,201801,DAAG_LFML,ALGER,MARSEILLE-PROVENCE,MC,MET_INTL,770,14784,14606,"17,775",163,14606,"17,775",14784,163,2018,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4354,202212,ZZLC_OM_INTL,AUTRES LSN (LC/OM_INTL),AUTRES LSN (LC/OM_INTL),LC,OM_INTL,5937,70288,64584,"570,242",360,71601,"633,033",77932,374,2022,12
4355,202212,ZZLC_OM_OM,AUTRES LSN (LC/OM_OM),AUTRES LSN (LC/OM_OM),LC,OM_OM,4639,3005,2561,"44,442",10,2561,"44,442",3005,10,2022,12
4356,202212,ZZMC_MET_INTL,AUTRES LSN (MC/MET_INTL),AUTRES LSN (MC/MET_INTL),MC,MET_INTL,1116,3922122,3742138,"17998,963",37187,3749662,"19795,456",3947612,37797,2022,12
4357,202212,ZZMC_OM_INTL,AUTRES LSN (MC/OM_INTL),AUTRES LSN (MC/OM_INTL),MC,OM_INTL,1494,69252,67104,"215,387",923,74059,"268,315",76737,1045,2022,12
4358,202212,ZZMC_OM_OM,AUTRES LSN (MC/OM_OM),AUTRES LSN (MC/OM_OM),MC,OM_OM,1039,28131,27147,"97,976",483,27136,"86,964",28007,913,2022,12

In [17]:
# penser à transformer le dict en list
col_types = {
    "ANMOIS": "str",  
    "APT": "str",     
    "APT_NOM": "str", 
    "APT_ZON": "str",
}

def import_aiport_data(list_files):
    list_df=[pd.read_csv(file, sep=";",dtype=col_types) for file in list_files]
    concat_df=pd.concat(list_df)
    cleaned_df = clean_dataframe(concat_df)
    return cleaned_df


import_aiport_data(urls["airports"].values())

,anmois,apt,apt_nom,apt_zon,apt_peq,apt_pax_dep,apt_pax_arr,apt_pax_tr,apt_frp_dep,apt_frp_arr,apt_nmvt_mxt,apt_nmvt_cgo,an,mois
0,201801,FMCZ,MAYOTTE-MARCEL HENRY,OM,35209,13108,18977,1202,"21,8","170,4",546,1,2018,1
1,201801,FMEE,LA REUNION-ROLAND GARROS,OM,269383,112430,127167,4768,743,"1758,7",1149,16,2018,1
2,201801,FMEP,ST-PIERRE-PIERREFONDS,OM,13219,6034,7181,0,0,"0,4",208,0,2018,1
3,201801,LFAQ,ALBERT-BRAY,MT,2108,119,124,0,108,"78,5",32,15,2018,1
4,201801,LFBA,AGEN-LA GARENNE,MT,2513,1335,1178,0,0,0,131,0,2018,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
985,202212,TFFG,ST-MARTIN-GRAND-CASE,OM,18700,8738,9563,0,"14,7","25,2",619,19,2022,12
986,202212,TFFJ,ST-BARTHELEMY,OM,22975,10809,11673,3,"7,8","41,2",4256,126,2022,12
987,202212,TFFR,POINTE-A-PITRE-LE RAIZET,OM,224367,98600,108384,5648,"151,7","1021,9",2212,92,2022,12
988,202212,ZZMT,AUTRES APT (MT),MT,4085,1908,2042,27,3,"7,8",1232,5,2022,12
989,202212,ZZOM,AUTRES APT (OM),OM,13386,3711,5008,4227,"2,7","41,3",1001,77,2022,12